.information{
    
    .welcome{
        margin: 2rem 0;
        border-left: 3px solid var(--secondary-color);
        padding-left: 1rem;

        span{
            color: var(--secondary-color);
        }
    }

    .descriptoin{
        margin: 1rem 0;
        font-weight: 500;
    }
    .line{
        width: 50%;
        height: 2px;
        background-color: var(--gray-color);
        border-radius: 30rem;
        margin: 1.5rem auto;
    }
    .personal-information{
        margin-bottom: 1rem;
        .info-title{
            padding-left: 1rem;
            margin-bottom: 1rem;
            border-left: 3px solid var(--secondary-color);
            text-transform: capitalize;
            font-size: 1.2rem;
        }
        .info{
            margin-top: 2rem;
            div{
                margin-top: 1rem;
                display: flex;
                align-items: center;

                h5{
                    font-size: 1rem;
                    text-transform: uppercase;
                }
                p{
                    margin-left: 2rem;
                    font-size: 1.2rem;
                    color: var(--secondary-color);
                }

                &:nth-child(2){
                    p{
                        margin-left: 80px;
                    }
                }
                &:nth-child(3){
                    p{
                        margin-left: 48px;
                    }
                }
                &:nth-child(4){
                    p{
                        margin-left: 63px;
                    }
                }
                &:nth-child(5){
                    p{
                        margin-left: 65px;
                    }
                }
                
                @media only screen and (max-width: 600px){
                    display: block;
                     p{
                        margin-top: 10px;
                        margin-left: 0;
                    }
                    &:nth-child(2){
                        p{
                            margin-left: 0px;
                        }
                    }
                    &:nth-child(3){
                        p{
                            margin-left: 0;
                        }
                    }
                    &:nth-child(4){
                        p{
                            margin-left: 0;
                        }
                    }
                    &:nth-child(5){
                        p{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}